<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  </head>
  <body>
    <%- include('./partials/_headingnavbar')%>

    <div class="container">
      <h1>Home Page</h1>
      <div>
      <h3>Latest Recipe</h3>
<% recipes.map(recipe => { %>
<div class="card mt-4">
              <div class="card-body">
                <h3 class="card-title"><%= recipe.title %> </h3>
                <div class="card-subtitle text-muted mb-2">
                  <%= recipe.createdAt%>
                </div>

                <div class="card-text mb-2">
                  <%= recipe.description %>
                </div>
                <a class="btn btn-success"href="/recipes/<%= recipe.id %>">View the recipes</a>

              </div>
            </div>
<% }) %>

              
     

    </div>
    </div>
    


  </body>
</html>