<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1> RECIPES Home </h1>
    <%- include('_headingnavbar')%>
    <% recipes.forEach(recipe => { %>
      <h3><%= recipe.title %> </h3>
      <p><%= recipe.description %></p>
      <p><%= recipe.createdAt.toLocaleString()%></p>
      <a href="/recipes/<%= recipe.id %>">Show More</a>
    <% }) %>


  </body>
</html>